<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - TK88</title>
  <link rel="stylesheet" href="./css/login.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <div class="top-banner">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="#">ShopNow</a>
    </div>
    <nav>
      <div class="logo">TK88</div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
      <input type="text" placeholder="What are you looking for?">
    </nav>
  </header>

  <main>
    <div class="login-container">
      <h2>Log in to Exclusive</h2>
      <p>Enter your details below</p>
      <form>
        <input type="email" placeholder="Email or Phone Number" required>
        <input type="password" placeholder="Password" required>
        <button type="submit" class="login-btn">Log In</button>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </form>
    </div>
  </main>


</body>
<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Our journey</h3>
      <p>From humble beginnings, we have built a community of loyal customers by offering high-quality products,
        seamless shopping experiences, and exceptional customer service. Every step of our journey has been driven by
        innovation, passion, and a commitment to excellence. And this is just the beginning—we're excited to continue
        growing with you!</p>
    </div>
    <div class="footer-section">
      <h3>Support</h3>
      <p>141 Xuan Thuy, Dich Vong Hau, Cau Giay, Ha Noi</p>
      <p>groupll@gmail.com</p>
      <p>+84384950868</p>
    </div>
    <div class="footer-section">
      <h3>Follow us</h3>
      <div class="social-icons">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
  <p class="copyright">&copy; Copyright GroupII 2025, All rights reserved</p>
</footer>

</html>