<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Our journey</h5>
                <p>From humble beginnings, we have built a community of loyal customers by offering high-quality products, seamless shopping experiences, and exceptional customer service. Every step of our journey has been driven by innovation, passion, and a commitment to excellence. And this is just the beginning—we’re excited to continue growing with you!</p>
            </div>
            <div class="col-md-4">
                <h5>Support</h5>
                <p>141 Xuan Thuy, Dich Vong Hau, Cau Giay, Ha Noi</p>
                <p>group11@gmail.com</p>
                <p>+843949505816</p>
            </div>
            <div class="col-md-4">
                <h5>Follow us</h5>
                <a href="#" class="text-white me-2"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
                <a href="#" class="text-white me-2"><i class="fa-brands fa-instagram fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-facebook fa-2x"></i></a>
            </div>
        </div>
        <hr class="bg-white">
        <p class="text-center">© Copyright Group11 2025. All rights reserved</p>
    </div>
</footer>