<link rel="stylesheet" type="text/css" href="/css/chatbot.css">


<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-column">
                <h5>Our journey</h5>
                <p>From humble beginnings, we have built a community of loyal customers...</p>
            </div>
            <div class="footer-column">
                <h5>Support</h5>
                <p>141 Xuan Thuy, Dich Vong Hau, Cau Giay, Ha Noi</p>
                <p>group11@gmail.com</p>
                <p>+843949505816</p>
            </div>
            <div class="footer-column">
                <h5>Follow us</h5>
                <div class="social-icons">
                    <a href="#" class="social-icon twitter">
                        <i class="icon-twitter">𝕏</i>
                    </a>
                    <a href="https://www.instagram.com/thah.lam7/" target="_blank" class="social-icon instagram">
                        <i class="icon-instagram">📸</i>
                    </a>
                    <a href="https://www.facebook.com/thanhlamk4/" target="_blank" class="social-icon facebook">
                        <i class="icon-facebook">ƒ</i>
                    </a>
                </div>
            </div>
        </div>
        <hr class="footer-divider">
        <p class="copyright">© Copyright Group11 2025. All rights reserved</p>
    </div>
    
    <div class="toast-container">
        <div id="toastNotification" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-content">
                <div class="toast-body" id="toastMessage">
                    <!-- Message will display here -->
                </div>
                <button type="button" class="toast-close" data-dismiss="toast" aria-label="Close">×</button>
            </div>
        </div>
    </div>
    
    <!-- Chatbot Button -->
    <div id="chatbot-button" onclick="toggleChat()">
        💬 Chat
    </div>

    <!-- Chatbot Window -->
    <div id="chatbot-container">
        <div id="chatbot-header">
            <span>Chatbot</span>
            <button onclick="toggleChat()">×</button>
        </div>
        <div id="chatbot-messages"></div>
        <textarea id="chatbot-input" placeholder="Type a message..." onkeypress="sendMessage(event)"></textarea>
    </div>
</footer>

<script src="/js/chatbot.js"></script>
