<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TK88</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              
              
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
                <!-- <ul class="sub-menu">
                  <li><a href="">submeu1</a></li>
                  <li><a href="">submeu2</a></li>
                  <li><a href="">submeu3</a></li>
                  <li><a href="/user">submeu4</a></li>
              </ul> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
                <!-- <ul class="sub-menu">
                  <li><a href="">submeu1</a></li>
                  <li><a href="">submeu2</a></li>
                  <li><a href="">submeu3</a></li>
                  <li><a href="/user">submeu4</a></li>
              </ul> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
                <!-- <ul class="sub-menu">
                    <li><a href="">submeu1</a></li>
                    <li><a href="">submeu2</a></li>
                    <li><a href="">submeu3</a></li>
                    <li><a href="/user">submeu4</a></li>
                </ul> -->
              </li>
            </ul>
         
      
            <div class="d-flex nav-icons" >
              <div class="search-container">
                <a href="/user"><i class="fa fa-search"></i></a>
                <input type="text" class="search-box" placeholder="Search...">
              </div>
              
            </div>
          </div>
        </div>
      </nav>
    </div>