<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TK88</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>


        <div class="d-flex nav-icons">
          <div class="search-container">
            <a href="/user"><i class="fa fa-search"></i></a>
            <input type="text" class="search-box" placeholder="Search...">
          </div>
          <a href="/whistlist"><i class="fa fa-heart-o"></i></a>
          <a href="/cart" class="cart-icon"><i class="fa fa-shopping-cart"></i><span>6</span></a>

          <% if (user) { %>
            <!-- Hiển thị khi người dùng đã đăng nhập -->
            <div class="user-menu">
              <a href="#" class="user-icon"><i class="fa fa-user"></i></a>
              <ul class="sub-menu-user">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/api/auth/logout">Logout</a></li>
              </ul>
            </div>
            <% } else { %>
              <a href="/api/auth/login" class="btn btn-outline-danger px-3 py-1 me-2 fw-bold shadow-sm rounded-pill">
                <i class="fa fa-sign-in"></i> Login
              </a>
              <a href="/api/auth/register" class="btn btn-danger px-3 py-1 fw-bold shadow-sm rounded-pill">
                <i class="fa fa-user-plus"></i> Signup
              </a>
              <% } %>
        </div>
      </div>
    </div>
  </nav>
</div>