<div class="bg-dark text-white" style="width: 250px; min-height: 100vh;">
    <div class="p-3">
        <h4>UET Store</h4>
        <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white active" href="#">
                    <i class="fa fa-tachometer"></i> DASHBOARD
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-calendar"></i> CALENDAR
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-envelope"></i> EMAIL
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-comments"></i> CHAT
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-trello"></i> KANBAN BOARD <span class="badge bg-success">New</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-cogs"></i> COMPONENTS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-puzzle-piece"></i> UI ELEMENTS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-file-text"></i> FORMS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-bar-chart"></i> CHARTS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-table"></i> TABLES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-star"></i> ICONS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-map-marker"></i> MAPS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fa fa-plus-circle"></i> EXTRAS <span class="badge bg-danger">2</span>
                </a>
            </li>
        </ul>
    </div>
</div>